@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s linear;
}

:root {
    --white: #F4F4F4;
    --white-color: #FFF;
    --orange: #FF7315;
    --grey: #3A3535;
    --black-light: #232020;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: var(--white);
}

.button-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-hero button {
    position: relative;
    background-color: rgba(219, 16, 16, 0.935);
    color: var(--white);
}

@keyframes opacity {
    0% {
        opacity: .8;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button-hero button i {
    font-size: 3rem;
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #FFC300;
    animation: opacity infinite ease-in-out 2s;
}

.button-hero button:hover {
    background-color: var(--grey);
    color: var(--white);
}


.header {
    max-width: 800px;
    background-color: var(--orange);
    margin: 30px auto;
    padding: 2rem 5%;
    border-radius: .8rem;
}

.header a {
    font-size: 1.6rem;
    color: var(--black-light);
}

.header a:hover {
    color: var(--white);
    text-decoration: underline;
}

.hero {
    max-width: 800px;
    background-color: var(--white-color);
    margin: 0 auto;
    padding: 2rem 5%;
    border-radius: .8rem;
    box-shadow: .1rem 0 .4rem rgba(0, 0, 0, .2);
}

.box-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.box-container .box {
    width: 90px;
    height: 90px;
    background-color: var(--orange);
    border-radius: 100%;
    margin-bottom: 3rem;
    position: relative;
}

.box-container .box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: var(--white);
}

.box-container .box i:hover {
    color: var(--white-color);
}

.box-container .box-message {
    margin-bottom: 3rem;
    color: #232020;
    font-weight: 700;
    font-size: 1.2rem;
}

.box-container .box-message span {
    color: var(--orange);
}

.box-container .box-message:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    width: 280px;
    height: 40px;
    border-radius: .8rem;
    font-weight: 600;
}

button>i {
    margin-right: 15px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 2rem 0;
}

.button-container .delete {
    background-color: var(--orange);
    color: var(--white);
}

.button-container .delete:hover {
    background-color: #ff0000;
}

.button-container .cancel {
    background-color: var(--black-light);
    color: var(--white);
}

.button-container .cancel:hover {
    background-color: #185ADB;
}

.hero-zombie {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 5%;
    display: none;
}

.image {
    height: 15vh;
}

.image img {
    object-fit: cover;
    width: 100%;
}





@media screen and (max-width: 768px) {
    html {
        font-size: 55%;
    }

    .header {
        margin: 2rem 2rem;
    }

    .hero {
        margin: 2rem 2rem;
    }

    button {
        width: 200px;
        font-size: 1.2rem;
    }

    button>i {
        margin-right: 4px;
    }

    .button-container {
        padding: 0 2rem 0 2rem;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .button-container {
        flex-direction: column;
    }

    .box-container .box-message {
        font-size: 1.4rem;
    }
}